{% extends 'admin/form.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        <h3>New paper</h3>
        <ul class="articles"
            data-index="{{ form.articles|length > 0 ? form.articles|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.articles.vars.prototype)|e('html_attr') }}"
        >
            {{ form_row(form.articles) }}

            {% for article in form.articles %}
                <li class="col-6">
                    {{ form_row(article.title) }}
                    {{ form_row(article.content) }}
                    {{ form_row(article.media) }}
                </li>
            {% endfor %}
        </ul>
        <button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="articles">Ajouter un article</button>
        <div class="m-4 text-center">
            <input type="submit" class="btn btn-lg btn-primary" value="Créer le journal">
        </div>
    {{ form_end(form) }}

    <script>

        const addArticleFormDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Supprimer l\'article';
            removeFormButton.className = 'btn btn-danger my-3';

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the tag form
                item.remove();
            });
        }

        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );
            item.className = '';

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;

            addArticleFormDeleteLink(item);
        };

        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });

        document
            .querySelectorAll('ul.articles li')
            .forEach((article) => {
                addArticleFormDeleteLink(article)
            })
    </script>
{% endblock %}


