{% extends 'base.html.twig' %}
{% block body %}
    {% if action is defined and genre is defined and label is defined %}
        <h1>{{ action }} {{ genre }} {{ label }}</h1>
    {% endif %}
    {{ form(form) }}
{% endblock %}