{% extends 'base.html.twig' %}

{% block body %}
<h1>Admin panel</h1>
<nav>
    <div class="row g-3">
        {% for entity in entities|sort %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="nav-item">
                    <div class="fw-bold mb-2">
                        {{ entity.short_name }}
                    </div>
                    <a class="btn btn-sm btn-primary ms-3" href="{{ entity.list_href }}" role="button">
                        List
                    </a>
                    <a class="btn btn-sm btn-success" href="{{ entity.create_href }}" style="display: inline-flex; align-items: center;" role="button">
                        <svg class="me-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width: 13px;height: 13px;fill: white"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg>
                        Create
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</nav>

{% endblock %}
