{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ app.request.get('entityClass') }} list</h1>
    <a href="{{ path('admin_index') }}">Back to the list</a>
<div class="table-responsive">
<table class="table table-hover">
  <thead class="table-light">
    <tr>
      {% for header in headers %}
        <th>
          {{ header }}
        </th>
      {% endfor %}
        <th>
            Action
        </th>
    </tr>
  </thead>

  <tbody>

  {% if objects|length == 0 %}
      No results.
  {% endif %}

  {% for object in objects %}
    <tr>
      {% for field in object %}
        <td>
          {{ field }}
        </td>
      {% endfor %}
        <td>
            <!-- TODO form for edit button -->
            <button type="submit" class="btn btn-warning btn-sm">
                Edit
            </button>
            <form
                action="/admin/delete"
                enctype="application/x-www-form-urlencoded"
                method="POST"
                class="d-inline-block"
            >
                <input
                    name="entity_class"
                    type="hidden"
                    value="{{ entity_class }}"
                />

                <input
                    name="entity_id"
                    type="hidden"
                    value="{{ object.id }}"
                />

                <input
                    name="redirect_to"
                    type="hidden"
                    value="{{ redirect_to }}"
                />
                <button type="submit" class="btn btn-danger btn-sm">
                    Delete
                </button>
            </form>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

<nav>
    {% if page != 0 %}
        <a href="?page={{ page - 1 }}">
            Previous
        </a>
    {% endif %}

    Page {{ page }}

    {% if objects|length > 0 %}
        <a href="?page={{ page + 1 }}">
            Next
        </a>
    {% endif %}
</nav>
{% endblock %}
