<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
{#            {{ encore_entry_link_tags('app') }}#}

{#        {% block javascripts %}#}
{#            {{ encore_entry_script_tags('app') }}#}
{#        {% endblock %}#}
            <link rel="stylesheet" href="../assets/styles/app.css"> <!-- TODO Lien dynamique assets -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {% endblock %}
        <style>
            .container{
                margin: 30px auto;
            }
            .nav-item{
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                padding: 10px;
                border-radius: 5px;
                cursor:default;
            }
            .nav-item:hover {
                outline: solid grey 1px;
            }
            .msg-aside{
                position: fixed;
                top: 19px;
                right: 50px;
            }
            .msg-error{
                padding: 10px;
                border-radius: 5px;
                background: lightcoral;
            }
            .msg-success{
                padding: 10px;
                border-radius: 5px;
                background: lightgreen;
            }
            .btn-success,.btn-success:focus{
                background-color: #009688;
                border-color: #05625a;
            }
            .btn-success:hover{
                background-color: #09756a;
                border-color: #05625a;
            }
        </style>
    </head>
    <body>
        <aside class="msg-aside">
            {% for message in app.flashes('error') %}
                <article class="msg-error">
                    {{ message }}
                </article>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <article class="msg-success">
                    {{ message }}
                </article>
            {% endfor %}
        </aside>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
