{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="home-section">
        <h1>Simulation d'élevage de chevaux</h1>
        <a class="btn btn-primary" href="{{ path('login') }}" role="button">
            Connexion
        </a>
    </section>
{% endblock %}