{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="POST">

        <div class="mb-3">
            <label
                for="username"
                class="form-label"
            >
                Pseudo
            </label>

            <input
                type="text"
                class="form-control"
                id="username"
                name="_username"
                value="{{ last_username }}"
            />
        </div>

        <div class="mb-3">
            <label
                for="password"
                class="form-label">
                Mot de passe
            </label>

            <input
                type="password"
                class="form-control"
                id="password"
                name="_password"
            />
        </div>

        <button
            type="submit"
            class="btn btn-primary">
            Se connecter
        </button>
    </form>

{% endblock %}