body {
    background-color: lightgray;
}

.home-section{
    padding: 20px 50px;
    text-align: center;
    width: fit-content;
    margin: 100px auto 0;
    border-radius: 10px;
    border: solid lightgrey 1px;
}